[user]
	name = Maarten Hermans
	email = maarten@mhermans.net

[core]
    pager = cat
    editor = vim
    excludesfile = /home/mhermans/.gitignore

[color]
    ui = auto
[credential]
	helper = cache --timeout=1800
[push]
	default = simple
